
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.logo {
    position: absolute;
    width: 467.98px;
    height: 274.7px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.logo img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slogan {
    position: absolute;
    width: 100%;
    top: 72%;
}

.slogan span {
    position: absolute;
    width: 100%;
    font-weight: 600;
    font-family: Dosis;
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 15px;
    color: white;
    text-align: center;
}

.next {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    top: 83%;
    left: 50%;
}

.next img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 60%;
}