<div class="page">
    <div class="box">
        <div class="info">
            <div class="content">
                {{ language.get()['CONTENT']['CONTACT']['FIRST'] }}
            </div>
            <a href="{{ getLinks()['WHATSAPP'] }}" target="_blank"><button class="more">{{ language.get()['BUTTONS']['WHATSAPP'] }}</button></a>
        </div>
        <div class="data">
            <form [formGroup]="getContanctForm()" class="form">
                <input type="text" class="field" formControlName="name" placeholder="{{ language.get()['INPUT']['NAME'] }}">
                <input type="text" class="field" formControlName="email" placeholder="{{ language.get()['INPUT']['EMAIL'] }}">
                <input type="text" class="field" formControlName="subject" placeholder="{{ language.get()['INPUT']['SUBJECT'] }}">
                <textarea class="field" formControlName="message" rows="6" placeholder="{{ language.get()['INPUT']['MESSAGE'] }}"></textarea>
                <div class="field">
                    <input type="checkbox"><span>{{ language.get()['CONTENT']['CONTACT']['SECOND'] }}</span>
                </div>
            </form>
            <button class="submit">{{ language.get()['BUTTONS']['SUBMIT'] }}</button>
        </div>
    </div>
    
</div>