
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.column {
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
    top: 0;
    width: 100%;
    max-width: 1200px;
    height: 100%;
}

.title {
    position: absolute;
    width: 250px;
    height: 20px;
    top: 60px;
}

.title .line {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    left: 30px;
    width: 6%;
    height: 8%;
    background-color: #222222;
}

.title .name {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    width: 120px;
    height: 100%;
    left: 55px;
    font-weight: 600;
    font-family: Dosis;
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 15px;
    color: #CAA149;
}

.front {
    position: relative;
    width: 100%;
    height: 845px;
}

.about {
    position: relative;
    width: 100%;
    height: auto;
    background-color: black;
    overflow: hidden;
    height: 400px;
}

.work {
    position: relative;
    width: 100%;
    height: 570px;
    background-color: black;
    overflow: hidden;
}

.contact {
    position: relative;
    width: 100%;
    height: 750px;
}

.clients {
    position: relative;
    background-color: white;
    width: 100%;
    height: 260px;
}

.information {
    position: relative;
    background-color: rgb(22, 22, 22);
    width: 100%;
    height: 350px;
}

@media only screen and (max-width: 961px) {
    .front {
        height: 550px;
    }
    
    .about {
        height: 500px;
    }

    .work {
        height: 750px;
    }

    .clients {
        height: 550px;
    }

    .information {
        height: 570px;
    }
}

@media only screen and (max-width: 701px) {
    .work {
        height: 1200px;
    }

    .contact {
        height: 1000px;
    }

    .clients {
        height: 850px;
    }
}

@media only screen and (max-width: 481px) {
    .clients {
        height: 850px;
    }
}