<div class="page">
    <div class="image">
        <img src="assets/contact.jpg">
    </div>
    <div class="front" #divFront>
        <video autoplay #videoPlayer loop>
            <source src="assets/videos/front.mp4" type="video/mp4">
            <source src="assets/videos/front.ogg" type="video/ogg">
        </video> 
        <div class="column">
            <app-front></app-front>
        </div>
    </div>
    <div class="about" #divAbout>
        <div class="column">
            <app-about></app-about>
            <div class="title">
                <div class="line"></div>
                <span class="name">ABOUT US</span>
            </div>
        </div>
    </div>
    <div class="work" #divWork>
        <div class="column">
            <app-work></app-work>
            <div class="title">
                <div class="line"></div>
                <span class="name">WORK</span>
            </div>
        </div>
    </div>
    <div class="contact" #divContact>
        <div class="screen"></div>
        <div class="column">
            <app-contact></app-contact>
            <div class="title">
                <div class="line"></div>
                <span class="name">CONTACT US</span>
            </div>
        </div>
    </div>
    <div class="clients" #divClients>
        <div class="column">
            <app-clients></app-clients>
            <div class="title">
                <div class="line"></div>
                <span class="name">CLIENTS</span>
            </div>
        </div>
    </div>
    <div class="information" #divInformation>
        <div class="column">
            <app-information></app-information>
        </div>
    </div>
</div>