<div class="page">
    
    <div class="front">
        <div class="column">
            <app-front></app-front>
        </div>
    </div>
    <div class="about">
        <div class="column">
            <app-about></app-about>
            <div class="title">
                <div class="line"></div>
                <span class="name">ABOUT US</span>
            </div>
        </div>
    </div>
    <div class="work">
        <div class="column">
            <app-work></app-work>
            <div class="title">
                <div class="line"></div>
                <span class="name">WORK</span>
            </div>
        </div>
    </div>
    <div class="contact">
        <div class="column">
            <app-contact></app-contact>
            <div class="title">
                <div class="line"></div>
                <span class="name">CONTACT US</span>
            </div>
        </div>
    </div>
    <div class="clients">
        <div class="column">
            <app-clients></app-clients>
            <div class="title">
                <div class="line"></div>
                <span class="name">CLIENTS</span>
            </div>
        </div>
    </div>
    <div class="information">
        <div class="column">
            <app-information></app-information>
        </div>
    </div>
</div>