
.page {
    position: relative;
    width: 100%;
    background-color: white;
}

.content {
    position: relative;
    width: 100%;
}

.info {
    position: relative;
    width: 100%;
    height: 300px;
}

.subtitle {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 70px;
    font-family: 'Dosis';
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
}

.title {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 130px;
    font-family: 'Ubuntu';
    font-size: 100px;
    line-height: 52px;
    letter-spacing: 0px;
    font-weight: 700;
}

.title::first-letter {
    text-transform: uppercase;
}

.categories {
    position: relative;
    display: inline-grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 20px;
    transform: translate(-50%, 0);
    left: 50%;
}

.categories .category {
    position: relative;
    white-space: nowrap;
    padding: 10px;
}

.categories .category .name {
    position: relative;
    font-size: 13px;
    font-family: 'Dosis';
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.categories .category .name:hover {
    color: rgba(177,152,129,1);
}

.videos {
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 120px;
    grid-row-gap: 50px;
    margin-top: 50px;
    width: 80%;
}

.videos .video {
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
    width: 300px;
    height: 140px;
    overflow: hidden;
    background-color: white;
}

.videos .video video {
    position: relative;
    width: 90%;
    transform: translate(0, -50%);
    top: 50%;
    background-color: white;
}

.space {
    position: relative;
    width: 100%;
    height: 200px;
}

.space .pages {
    position: absolute;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    width: 250px;
    height: 40px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    grid-column-gap: 20px;
}

.space button {
    position: relative;
    border: none;
    height: 100%;
    margin-left: 5px;
    background-color:black;
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'Dosis';
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    color: white;
}

.space button:disabled {
    background-color: gray;
}

@media only screen and (max-width: 1750px) {
    
    .videos {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1400px) {

    .videos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 961px) {
    
    .title {
        top: 120px;
        font-size: 70px;
    }

    .categories {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media only screen and (max-width: 701px) {

    .categories {
        grid-template-columns: repeat(2, 1fr);
    }

    .videos {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 481px) {
}