<div class="page">
    <div class="content">
        <div class="info">
            <div class="subtitle">{{ language.get()['PORTAFOLIO']['SUBTITLE'] }}</div>
            <div class="title">{{ language.get()['PORTAFOLIO']['TITLE'] }}</div>
        </div>
        <div class="categories">
            <div class="category" 
                [ngStyle]="{
                    'border': isSelected(allCategory) ? '1px solid rgba(177,152,129,1)':'none',
                    'color': isSelected(allCategory) ? 'rgba(177,152,129,1)':'black',
                    'padding': isSelected(allCategory) ? '9px':''
                }" 
                (click)="selectCategory(allCategory)">
                <div class="name">{{ allCategory.getName() }}</div>
            </div>
            <div class="category" 
                [ngStyle]="{
                    'border': isSelected(category) ? '1px solid rgba(177,152,129,1)':'none',
                    'color': isSelected(category) ? 'rgba(177,152,129,1)':'black',
                    'padding': isSelected(category) ? '9px':''
                }" 
                *ngFor="let category of getCategories()"
                (click)="selectCategory(category)">
                <div class="name">{{ category.getName() }}</div>
            </div>
        </div>
        <div class="videos">
            <div class="video" *ngFor="let video of getVideosByCategory(); let i = index">
                <video autoplay #videoPlayer>
                    <source src="{{video.getContent()['src']}}" type="video/mp4">
                </video>
                {{ setVideoElement(videoPlayer, i) }}
            </div>
        </div>
        <div [ngClass]="!categoryIsNull() ? 'space':'hide'">
            <div class="pages">
                <button [disabled]="!canBackPage()" (click)="backPage()">{{ language.get()['BUTTONS']['BACK'] }}</button>
                <button [disabled]="!canFowardPage()" (click)="forwardPage()">{{ language.get()['BUTTONS']['FORWARD'] }}</button>
            </div>
        </div>
    </div>
</div>