<div class="box">
    <header [ngStyle]="{'background-color': menuService.getBack() ? '':'transparent'}">
        <img src="{{ menuService.getBack() ? 'assets/fbflogo.svg':'assets/fbflogowhite.svg' }}" class="logo">
        <app-menu class="menu" #menuChild ></app-menu>
    </header>
    <div class="body">
        <router-outlet></router-outlet>
    </div>
    <div [ngClass]="getFollowHeader() ? 'follow':'hide'">
        <img src="assets/fbftextlogo.png" class="logo">
        <app-menu class="menu" #menuChildFollow ></app-menu>
    </div>
    <div class="information">
        <div class="column">
            <app-information></app-information>
        </div>
    </div>
    <footer>
        <img src="assets/fbflogo.svg" class="logo">
        <div class="copyright">
        {{ language.get()['FOOTER']['COPYRIGHT'] }}
        </div>
        <div class="links">
        <span class="link">
            <a href="">{{ language.get()['FOOTER']['PPOLICY'] }}</a>
        </span>
        <span class="link">
            <a href="">{{ language.get()['FOOTER']['PSETTINGS'] }}</a>
        </span>
        <span class="link">
            <a href="">{{ language.get()['FOOTER']['IMPRESSUM'] }}</a>
        </span>
        </div>
    </footer>
</div>