
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 3670px;
}

header {
    position: relative;
    width: 100%;
    height: 125px;
    left: 0;
    top: 0;
    background-color: black;
}

header .logo {
    position: absolute;
    height: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 45px;
    left: 10%;
}

header .menu {
    position: absolute;
    width: 100%;
    height: 100%;
}

.feed {
    position: relative;
    width: 100%;
    height: calc(100% - 95px - 125px);
    background-color: red;
}

.feed .follow {
    position: sticky;
    width: 100%;
    height: 130px;
    top: 0;
    background-color: black;
    z-index: 100;
}

.feed .follow .logo {
    position: absolute;
    height: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    width: auto;
    left: 20%;
}

.feed .follow .menu {
    position: absolute;
    width: 100%;
    height: 100%;
}

footer {
    position: absolute;
    width: 100%;
    height: 95px;
    overflow: hidden;
    left: 0;
    bottom: 0;
    background-color: #0E0E0E;
}

footer .logo {
    position: absolute;
    width: 40px;
    height: auto;
    transform: translate(-50%, -50%);
    left: 5%;
    top: 50%;
}

footer .copyright {
    position: absolute;
    transform: translate(0, -50%);
    width: 100%;
    top: 50%;
    text-align: center;
    color: #909090;
    font-size: 14px;
    font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
    line-height: 20px;
}

footer .links {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    display: inline-grid;
    grid-template-columns: repeat(1, 1fr);
    font-size: 14px;
    font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
    line-height: 20px;
    right: 5%;
    min-width: 94px;
}

footer .links .link {
    text-align: center;
    min-width: 94px;
}

footer .links .link a {
    text-decoration: none;
    color: #C89F48;
}


@media only screen and (max-width: 701px) {
    .page {
        height: 4780px;
    }
}

@media only screen and (max-width: 961px) {
    .page {
        min-height: 4050px;
    }

    header .logo {
        display: inline;
    }

    .feed {
        height: calc(100% - 215px - 125px);
    }

    footer {
        height: 215px;
    }

    footer .logo {
        left: 50%;
        top: 38%;
    }

    footer .copyright {
        top: 60%;
    }

    footer .links {
        grid-template-columns: repeat(3, 1fr);
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 350px;
    }
}

@media only screen and (min-width: 1301px) {

    footer .links {
        grid-template-columns: repeat(3, 1fr);
        min-width: 350px;
    }
}