
html, body {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

.hide {
    display: none;
}