
.menu {
    position: absolute;
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    width: 340px;
    height: 50px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.menu .page {
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;
    font-weight: 800;
    font-family: Ubuntu;
    line-height: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #CAA149;
    text-transform: uppercase;
}

.menu .page:hover {
    color: rgba($color: white, $alpha: 0.7);
}

.options {
    position: absolute;
    width: 190px;
    height: 40px;
    transform: translate(0, -50%);
    top: 50%;
    right: 5%;
}

.options .language {
    position: absolute;
    width: 110px;
    height: 100%;
    right: 0;
}

.options .language .flag {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    height: 10px;
    width: auto;
    left: 2px;
}

.options .language .current {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    font-weight: 800;
    font-family: Ubuntu;
    line-height: 20px;
    font-size: 13px;
    letter-spacing: 1px;
    color: white;
    left: 25px;
}

.options .language .indicator {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    height: 7px;
    width: 8px;
    right: 0px;
}

.options .language .indicator img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.options .language .list {
    position: absolute;
    width: 100%;
    background-color: black;
    border: 2px solid white;
    display: inline-grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 5px;
    padding: 10px;
}

.options .language .list .lang {
    position: relative;
    width: 100%;
    height: 20px;
    color: white;
    text-align: center;
    font-weight: 800;
    font-family: Ubuntu;
    line-height: 20px;
    font-size: 13px;
    letter-spacing: 1px;
}

.options .language .list .lang:hover {
    color: black;
    background-color: white;
}

.options .deploy {
    display: none;
    position: absolute;
    transform: translate(50%, -50%);
    width: 40px;
    height: 40px;
    right: 15%;
    top: 50%;
}

.deployMenu {
    display: inline-grid;
    position: absolute;
    grid-template-columns: repeat(1, 1fr);
    top: 125px;
    width: 100%;
    height: 185px;
    overflow: hidden;
}

.deployMenu .page {
    border-radius: 0;
    border: none;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: Ubuntu;
    line-height: 20px;
    border-bottom: 1px solid rgba($color: gray, $alpha: 0.1);
    text-align: left;
    padding-left: 20px;
    z-index: 100;
}

.deployMenu .page:hover {
    background-color: lightgray;
}

@media only screen and (max-width: 961px) {
    .menu {
        display: none;
    }

    .options .language {
        left: 0;
    }

    .options .deploy {
        display: inline;
    }
}

// Hamburger animation

#nav-icon4 {
    width: 30px;
    height: 22.5px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    -webkit-transition: 0.8s ease-in-out;
    -moz-transition: 0.8s ease-in-out;
    -o-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
    cursor: pointer;
}

#nav-icon4 span {
    display: block;
    position: absolute;
    height: 18%;
    width: 100%;
    background: white;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

#nav-icon4 {
    position: relative;
}

#nav-icon4 span:nth-child(1) {
  top: 0%;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  bottom: 0%;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -6%;
  left: 11%;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 87.7%;
  left: 11%;
}
