<div class="page">
    <div class="content">
        <div class="info">
            <div class="title">
                {{ language.get()['CONTENT']['INFORMATION']['FIRST']['TITLE'] }}
            </div>
            <div class="text">
                {{ language.get()['CONTENT']['INFORMATION']['FIRST']['MSG'] }}
            </div>
        </div>

        <div class="info">
            <div class="title">
                {{ language.get()['CONTENT']['INFORMATION']['SECOND']['TITLE'] }}
            </div>
            <div class="text">
                Colombia +57 301 526 4042 <br>
                USA +1 862 762 9032 <br><br>
                WhatsApp +57 301 526 4042
            </div>
        </div>

        <div class="info">
            <div class="title">
                {{ language.get()['CONTENT']['INFORMATION']['THIRD']['TITLE'] }}
            </div>
            <div class="text">
                info@framebyframefilms.com.co
            </div>
            <div class="socials">
                <a href="{{ getLinks()['FACEBOOK'] }}"  target="_blank">
                    <img src="assets/social/facebook.png">
                </a>
                <a href="{{ getLinks()['INSTAGRAM'] }}"  target="_blank">
                    <img src="assets/social/instagram.png">
                </a>
                <a href="{{ getLinks()['YOUTUBE'] }}"  target="_blank">
                    <img src="assets/social/youtube.png">
                </a>
            </div>
        </div>
    </div>
</div>