<div class="page">
    <div class="content">
        <div class="info">
            <div class="title">
                OUR PROFESSIONAL COMPROMISE
            </div>
            <div class="text">
                We strive to deliver nothing but the best and we will go to any lengths to get the perfect shot.
            </div>
        </div>

        <div class="info">
            <div class="title">
                CONTACT US
            </div>
            <div class="text">
                Colombia +57 301 526 4042 <br>
                USA +1 862 762 9032 <br><br>
                WhatsApp +57 301 526 4042
            </div>
        </div>

        <div class="info">
            <div class="title">
                EMAIL US
            </div>
            <div class="text">
                info@framebyframefilms.com.co
            </div>
            <div class="socials">
                <a href="https://www.facebook.com/framebyframef"  target="_blank">
                    <img src="assets/social/facebook.png">
                </a>
                <a href="https://www.instagram.com/framebyframef"  target="_blank">
                    <img src="assets/social/instagram.png">
                </a>
                <a href="https://www.facebook.com/framebyframef"  target="_blank">
                    <img src="assets/social/youtube.png">
                </a>
            </div>
        </div>
    </div>
</div>