<div class="page">
    <div class="image"></div>
    <!-- <img src="assets/aboutus.jpg" > -->
    <div class="screen"></div>
    <div class="front">
        <div class="subtitle">
            {{ language.get()['ABOUTUS']['SUBTITLE'] }}
        </div>
        <div class="title">
            {{ language.get()['ABOUTUS']['TITLE'] }}
        </div>
    </div>
    <div class="message">
        <span>{{ language.get()['ABOUTUS']['MESSAGE'] }}</span>
    </div>
    <div class="questions">
        <div class="question">
            <div class="title">{{ language.get()['ABOUTUS']['WHOAREWE_TITLE'] }}</div>
            <div class="msg">{{ language.get()['ABOUTUS']['WHOAREWE_MSG'] }}</div>
        </div>
        <div class="question">
            <div class="title">{{ language.get()['ABOUTUS']['WHYUS_TITLE'] }}</div>
            <div class="msg">{{ language.get()['ABOUTUS']['WHYUS_MSG'] }}</div>
        </div>
    </div>
</div>